body {
    background-color: #DAA973;
    color: white;
    padding: 40px;
    font-family: Sans-Serif;
    text-align: center;
  }


  h2{

    font-family: Snell Roundhand;


  }


  button{

 
  
    cursor: pointer;
  
  
  }

  
  table, th, td {
    border: 1px solid rgb(238, 233, 237);
    margin-left: auto;
    margin-right: auto;
  }