body {
    background-color: #6E7BA2;
    color: white;
    padding: 40px;
    font-family: Sans-Serif;
    text-align: center;
  }


  h2{

    font-family: Snell Roundhand;


  }


  button{

 
  
    cursor: pointer;
  
  
  }