body {
    /* background-color: #BA8582; */
    color: white;
    padding: 40px;
    font-family: Sans-Serif;
    text-align: center;
    background-color: rgb(97, 164, 223);
    
  }



  h2{


    font-family: Snell Roundhand;


  }


button{

  font-family: Snell Roundhand;
  background-image: linear-gradient(to right, rgb(241, 221, 183),rgb(240, 239, 179),rgb(207, 241, 195),rgb(191, 218, 217), rgb(214, 191, 218), rgb(219, 185, 202));
  size: 200px;
  border: 2px solid black;
  font-size: 22px;
  cursor: pointer;


}
